html, body {
    box-sizing: border-box;
    color: #111;
}

.post {
    width: 700px;
    font-family: Helvetica, Arial, sans-serif;
    margin: 0 auto;
}

@media screen and (max-width: 960px) {
    .post {
        width: 768px;
    }
}

@media screen and (max-width: 768px) {
    .post {
        width: 100%;
        padding: 0 24px;
    }
}

p {
    font-size: 21px;
    line-height: 40px;
}

h1, h2, h3, h4, h5 {
    font-size: 38px;
    line-height: 52px;
    padding: 17px 0;
}

@media screen and (max-width: 960px) {
    p {
        font-size: 18px;
    }
    h1, h2, h3, h3, h5 {
        font-size: 1.5rem;
        line-height: 2rem;
    }
}

@media screen and (max-width: 650px) {
    p {
        font-size: 16px;
    }
}

.header {
    display: flex;
    margin-bottom: 100px;
}

@media screen and (max-width: 768px) {
    .header {
        padding: 0 16px;
    }
}

/* TODO: from variable */
.header__menu {
    line-height: 64px;
}

.header__menu-container {
    margin-left: 64px;
}

.header__menu-icon {
    color: #fff;
}

.header__menu-button {
    -webkit-appearance: none;
    border: none;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 52px;
}

.header__mobile-menu {
    margin-left: auto;
}

.header__social-menu {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.social-icon__img {
    width: 16px;
}

@media screen and (max-width: 768px) {
    .social-icon__img {
        width: 12px;
    }
}

@media screen and (min-width: 769px) {
    .header__mobile-menu {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .header__menu-container {
        display: none;
    }
}

.content__section {
    margin-top: 75px;
}

.content__header {
    margin-bottom: 30px;
}

.wp-block-image img {
    display: block;
    margin: 20px auto;
    max-width: 100%;
}

p, pre {
    margin-bottom: 50px;
}

ul, li {
    list-style-type: none;
}
